click
datasets
evaluate
hydra-colorlog
hydra-core
joblib
lmdb
lxml==4.9.3
nltk==3.6.2
numpy==1.26.4
omegaconf
opencv-python
pandas==2.2.0
mmpretrain==1.2.0
pyrootutils
lightning==2.4.0
pyyaml
rich
scikit-image
scikit-learn
transformers==4.35.0
wheel
pyarrow==15.0.0

kytea==0.1.7
regex==2023.10.3

