click
datasets
evaluate
hydra-colorlog
hydra-core
joblib
lmdb
lxml==4.9.3
nltk==3.6.2
numpy==1.24.4
omegaconf
opencv-python
pandas==1.5.3
mmpretrain==1.2.0
pyrootutils
lightning==2.0.0
pyyaml
rich
scikit-image
scikit-learn
transformers==4.45.2
wheel
pyarrow==15.0.0
mmdet==3.3.0
kytea==0.1.7
regex==2022.10.31
